body {
    background-color: bisque;
    margin: 10px auto;
    font-family: monospace;
    color: black;
    text-align: center;
}


#target-text {
        border: solid 3px;
        border-radius: 5px;
        border-color: cadetblue;
        padding: 10px;
        font-family: monospace;
        font-size: 20px;
        margin: 10px;
        background-color: aliceblue;
        max-width: max-content;
        overflow-y: auto;
        }


#typing-input {
        background-color: aliceblue;
        border: solid, 3px;
        border-radius: 5px;
        border-color: cadetblue;
        margin: 10px;
        width: 100%;
        font-size: 18px;
        font-family: monospace;
        padding: 10px;
    }

#live-feedback {
        font-family: monospace;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
        white-space: pre-wrap;
    }
#result {
        margin-top: 15px;
        font-weight: bold;
    }

.btn    {
    background-color: #333;
    color: white;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background 0.3s;
    
}

.btn:hover{
    background-color: #555;
}